
.normal {
    background-color: #b5b59e; /* Metálico prateado com toque quente */
}
.grass {
    background-color: #68ce02; /* Verde metálico brilhante e vívido */
}
.fire {
    background-color: #ff5733; /* Laranja metálico flamejante */
}
.water {
    background-color: #3399ff; /* Azul metálico elétrico */
}
.electric {
    background-color: #f0cc04; /* Amarelo metálico dourado brilhante */
}
.ice {
    background-color: #a3e4f9; /* Azul gelo metálico e cristalino */
}
.ground {
    background-color: #cc9966; /* Bronze metálico vibrante */
}
.flying {
    background-color: #9370db; /* Roxo metálico forte */
}
.poison {
    background-color: #c71585; /* Magenta metálico intenso */
}
.fighting {
    background-color: #d33902; /* Vermelho metálico ardente */
}
.psychic {
    background-color: #ff69b4; /* Rosa metálico neon */
}
.dark {
    background-color: #252525; /* Marrom metálico profundo e forte */
}
.rock {
    background-color: #666054; /* Metálico dourado escuro */
}
.bug {
    background-color: #a6cf53; /* Verde metálico luminoso */
}
.ghost {
    background-color: #8a2be2; /* Roxo metálico intenso */
}
.steel {
    background-color: #c0c0c0; /* Prata metálica brilhante */
}
.dragon {
    background-color: #6a0dad; /* Púrpura metálico real */
}
.fairy {
    background-color: #ffb6c1; /* Rosa metálico suave com brilho */
}
