

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pokemon {
    margin: .5rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }

  .pokemon .number {
    text-align: right;
    font-size: .625rem;
  }

  .pokemon .name {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .pokemon .detail .types .type {
    color: #ffffffdc; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    padding: .25rem .5rem; /* Espaçamento interno */
    margin: .25rem 0; /* Margem */
    font-size: .725rem; /* Tamanho da fonte */
    border-radius: 1rem; /* Bordas arredondadas */
    filter: brightness(1.1); /* Brilho */
    text-align: center; /* Centraliza o texto */
    border: #ffffff6b solid 1px; /* Borda */
    transition: all 0.3s ease; /* Transição suave para o hover */
}

/* Efeito de hover */
.pokemon .detail .types .type:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fundo semitransparente no hover */
  transform: scale(1.05); /* Aumenta levemente o elemento */
  border-color: #ffffff; /* Muda a cor da borda no hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

  .pokemon .detail img {
    max-width: 100%;
    height: 70px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
  }

  .pagination button {
    background-color: rgb(196, 78, 196);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .30rem .7rem;
    font-size: .725rem;
    margin: .25rem 0;
    cursor: pointer;
    transition: all 0.3s ease;  /* Transição suave para as alterações */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra suave ao redor do botão */
}

.pagination button:hover {
  background-color: rgb(255, 255, 255);  /* Muda para branco no hover */
  color: rgb(196, 78, 196);  /* Muda o texto para a cor original do fundo */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);  /* Sombra mais profunda no hover */
  transform: scale(1.05);  /* Aumenta levemente o botão no hover */
  border: 2px solid rgb(196, 78, 196);  /* Adiciona uma borda colorida */
}

  @media screen and (min-width: 380px) {
    .pokemons {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 576px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 992px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }